<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/round_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.App.Starting"
        tools:targetApi="31">


        <!-- Define MainActivity without the intent-filter -->
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" android:exported="true" />
        <activity android:name=".ArtistStatsActivity" android:exported="true" />
        <activity android:name=".AddAlbumActivity" android:exported="true" />
        <activity android:name=".AddSongActivity" android:exported="true" />
        <activity android:name=".AddToPlaylistActivity" android:exported="true" />
        <activity android:name=".AlbumScreenActivity" android:exported="true" />
        <activity android:name=".CreateNewPlaylistActivity" android:exported="true" />
        <activity android:name=".EditPlaylistActivity" android:exported="true" />
        <activity android:name=".EditProfileActivity" android:exported="true" />
        <activity android:name=".EqualizerActivity" android:exported="true" />
        <activity android:name=".LibraryActivity" android:exported="true" />
        <activity android:name=".PlaylistSearchActivity" android:exported="true" />
        <activity android:name=".SearchActivity" android:exported="true" />
        <activity android:name=".SearchOptionsActivity" android:exported="true" />
        <activity android:name=".SearchResultsActivity" android:exported="true" />
        <activity android:name=".SettingsActivity" android:exported="true" />
        <activity android:name=".SplashScreenActivity" android:exported="true" />


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>